$border-radius: 4px;

.modal{
  display: block;
  position: absolute;

  top: 200px;

  left: 0;
  right: 0;
  margin: auto;

  width: 400px;
  border-radius: $border-radius;

  background: #181b1d;

  &__title{
    text-align: center;
  }

  &__input{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    outline: none;

    &:focus, &:active, &:hover, &:visited{
      outline: none;
    }
  }

  &__btns{
    display: block;
    height: 50px;
  }

  &__button{
    height: 100%;
    width: 50%;
    border: none;

    outline: none;

    &:focus, &:active, &:hover{
      outline: none;
    }

    &:hover{
      background: linear-gradient(#212528 80%, #fff);
    }

    &_submit{
      border-bottom-left-radius: $border-radius;
      background: #212528;
    }

    &_cancel{
      border-bottom-right-radius: $border-radius;
      background: #212528;
    }
  }
}