.toolbar {
  position: fixed;
  left: 0;
  height: 100%;
  width: 60px;
  background-color: #212528;
  border-right: 1px solid #e5e5e5;
  box-shadow: 1px 1px 15px 1px #e5e5e5;
  z-index: 100;

  &__title{
    font-size: 32px;
    margin: 10px auto;
    text-decoration: none;
    font-weight: 400;
    display: block;
    font-family: "Helvetica Neue", serif;
    text-align: center;
    color: #ff2d5e;
  };

  &__button{
    margin: 10px;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    position: relative;
    border-radius: 6px;

    outline: none;

    &:hover, &:active, &:focus, &:visited{
      outline: none;
    }

    &:hover{
      cursor: pointer;
      background-color: rgba(1, 1, 1, 0.3) !important;
    }

    &_active{
      background-color: rgba(1, 1, 1, 0.3) !important;

      &::after{
        position: absolute;
        bottom: -4px;
        margin: auto;
        left: 0;
        right: 0;
        display: block;
        content: '';
        width: 8px;
        height: 8px;
        background: #ff2d5e;
        border-radius: 50%;
        box-shadow: 0 0 20px #ff4c7a;
      }
    }

    &_zoom-in{
      background: url("/assets/zoom-in.svg") no-repeat center;
      background-size: 65%;
      stroke-width: 2px;
    }

    &_zoom-out{
      background: url("/assets/zoom-out.svg") no-repeat center;
      background-size: 65%;
      stroke-width: 2px;
    }

    &_undo{
      background: url("/assets/undo.svg") no-repeat center;
      background-size: 65%;
      stroke-width: 2px;
    }

    &_redo{
      background: url("/assets/undo.svg") no-repeat center;
      background-size: 65%;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      stroke-width: 2px;
    }

    &_view{
      background: url("/assets/hold.svg") no-repeat center;
      background-size: 65%;
      stroke-width: 2px;
    }

    &_edit{
      background: url("/assets/pencil.svg") no-repeat center;
      background-size: 65%;
      stroke-width: 2px;
    }

    &_delete{
      background: url("/assets/erase-text.svg") no-repeat center;
      background-size: 65%;
    }
  }
}

.zoom {
  align-items: center;
  display: flex;
  margin-top: 20%;
  text-align: center;
  font-size:3vh;
  justify-content: center;
}

.zoom__button{
  height: 6vh;
  width: 6vh;

  border-radius: 50%;
  background-color: #212528;
  box-shadow: 3px 3px 10px 1px #141618;
  color: white;
  border: none;
  font-size: 17px;
  font-weight: 900;

  margin: 1vh;
  &:focus{
    outline: none;
  }
  &:active{
    outline: none;
    box-shadow: none;
  }
  &:hover{
    background-color: #bbbbbb;
  }
}
