.toolbar {
  position: fixed;
  right: 0;
  height: 100%;
  width: 20vw;
  background-color: #212528;
  border-left: 1px solid #e5e5e5;
  box-shadow: 1px 1px 15px 1px #e5e5e5;
  z-index: 100;
}

.zoom {
  align-items: center;
  display: flex;
  margin-top: 20%;
  text-align: center;
  font-size:3vh;
  justify-content: center;
}

.zoom__button{
  height: 6vh;
  width: 6vh;

  border-radius: 50%;
  background-color: #212528;
  box-shadow: 3px 3px 10px 1px #141618;
  color: white;
  border: none;
  font-size: 17px;
  font-weight: 900;

  margin: 1vh;
  &:focus{
    outline: none;
  }
  &:active{
    outline: none;
    box-shadow: none;
  }
  &:hover{
    background-color: #bbbbbb;
  }
}
