@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700|Source+Sans+Pro:300,400');

body, html {
  margin: 0;
  height: 100%;
  background-color: #212528;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}