.toolbar{
  height: 50px;
  background: #e9f4f4;
  position: relative;

  &__group{
    width: 120px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.zoom-control{
  display: flex;
  align-items: center;

  height: 40px;

  &__control{
    margin: 5px;
  }
}