.stats{
  z-index: 100;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 55px;
  height: 100px;
  line-height: 0;
  opacity: 0.7;
  border-top: solid 1px  #808080;
  padding-top: 10px;
  font-size: 14px;

  &__nodes, &__lines{
    display: inline-block;
  }
}