.toolbar-menu{
  height: 50px;
  background: rgba(0,0,0,0.34);

  &__tool{
    margin: 10px;
    height: 30px;
    width: 30px;
    border-radius: 7px;
    -webkit-box-shadow: 3px 2px 4px 3px #808080;
    -moz-box-shadow: 3px 2px 4px 3px #808080;
    box-shadow: 3px 2px 4px 3px #808080;
    border: none;

    outline: none;

    &:hover{
      box-shadow: none;
      cursor: pointer;
    }

    &:hover, &:active, &:focus, &:visited{
      outline: none;
    }
  }
}