.dashboard{
  margin: 50px 100px;
}

.dashboard-header{
  display: flex;
  margin: 30px auto;
  align-items: center;

  &__title{
    color: white;
    font-size: 32px;
    font-weight: 400;
  }

  &__add{
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    font-size: 17px;
    margin-top: 3px;
    font-weight: 900;

    outline: none;
    &:hover, &:active, &:focus{
      outline: none;
    }

    &:hover{
      cursor: pointer;
    }
  }
}

.document-list-header{
  display: flex;
  justify-content: space-between;
  margin: auto 40px;
  font-size: 20px;
  font-weight: 300;

  &__name{
    display: inline-block;
    width: 300px;
  }

  &__last-edited{
    margin-left: -30px;
  }
}

.document-list{
  list-style: none;
  padding: 0;

  &__item{
    border-top: 1px solid #808080;
    border-bottom: none;

    &:last-of-type{
      border-bottom: 1px solid #808080;
    }

    a {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      text-decoration: none;
      outline: none;

      transition: all 0.1s ease-in-out;

      &:hover{
        background-color: #424242;
      }

      &:focus, &:active, &:visited{
        outline: none;
      }
    }


    span:first-child{
      display: inline-block;
      width: 300px;
      margin: auto 40px;
    }
  }
}

.button{
  color: white;
  text-decoration: none;
  margin: auto 10px;
  height: 25px;
  width: 25px;
  padding: 2px;
  border: none;

  &:hover{
    transition: all 0.15s ease-in-out;
    border: 1px solid red;
  }

  &_delete{
    background: center url("/assets/img/garbage.svg") no-repeat;
    background-size: 80%;
  }

  &_edit{
    background: center url("/assets/img/edit.svg") no-repeat;
    background-size: 80%;
  }
}